
body {
    display: flex;  
    flex-direction: column;
    height: 100%;
    width: 100%;     
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;     
    background-color:black;
    width: 50vw;
    height: 3vw;
}

button, .red, .blue, .yellow, .green, .brown, .white {
    justify-content: space-evenly;
    width: 2vw;
    height: 2vw;
    border-radius: 5%;
    margin: 1%;
} 

button { 
    width: 10vw;
   
}

#grid{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center; 
}

.row {
    width: 50vw;
    height: 5vw;
    display: flex;
    flex-direction: row;

}

.columns {
    width: 5vw;
    height: 5vw;
    background-color: lavender;
    justify-content: center; 
    }

.red {
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}

.white {
    background-color: white; 
}
