       #container {

            display: flex;
            justify-content: space-around;
            background-color: papayawhip;
            padding: 10px;
        }

        .highlight {

            outline: 2px solid red;
        }

        #child {

            width: 100px;
            height: 100p;
            background-color: darkslateblue;
        }