
#my-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
     

}

#message {
    height: 20vh;
}

input {
    border-radius: 3px;
    border: 1px solid black;
}

main {
    background-color: lavender;
    display: flex;
    width: 40vw;
    height: 50vw;
}

h1 {

}

input:invalid {
    border: 1px solid black;
}
  
input:invalid:required {
    background-image: linear-gradient(to right, lightgreen, white);
}
  
input:valid {
    border: 2px solid green;
}

textarea:invalid {
    border: 2px solid black;
}
  
textarea:invalid:required {
    background-image: linear-gradient(to right, cyan, white);
}
textarea:valid {
    border: 1px solid green;
}