
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}

.container {
    display: flex;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10%;  
}

.box1 {
    display:flex;
    width: 50vw; 
    height: 10vw;
    overflow: hidden;
    background-image: linear-gradient(to right, red, indigo,blue);
    border-left: 2px solid black;  
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;    
    justify-content: right;
    align-items: center;
    
  
}

.box2 {
    display:flex;
    width: 50vw;
    height: 10vw;
    background: white;
    border-bottom: 2px solid black;
    right:0;

}

h1 {
    display:flex;
    color: white;
    font-size: 3rem;

}

button {
    display:flex;
    font-size: 1.5rem;

}







