* {
    font-family:sans-serif;
    box-sizing: border-box;
}

.hContainer {
    display: flex; 
    justify-content: center; 
}

.vContainer {
    display: flex;
    flex-direction: column;
    width: 601px;
    height: 600px;
    background-color: rgb(214, 207, 207);
    justify-content: center; 
}

.hMenu {
    width: 400px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 1px;  
}

.header {
    width: 1202px;
    height:150px;
    background-color: rgb(19, 129, 219);
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 1px;  
}

.vMenu {
    width: 100px;
    height: 40px;
    background-color:black;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 1px; 
}

.footer {
    width: 1202px;
    height:40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 1px;  
}


.flexContent {
    flex:1;
}

