* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(241, 240, 234); 
}


nav {
    display:flex; 
 
}

#navbar {
    flex: 1;
    justify-content: center;
    justify-content: space-evenly;
    display:inline-flex;
    background-color: rgb(53, 50, 50);
    position: fixed; 
    top: 0; 
    width: 100%;

}

ul {
    list-style-type: none; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(11, 112, 112);
    }

main {
    display: flex;   
    
    }

#sidebar {  
    height: 800px;   
    background-color: rgb(53, 50, 50);  
}

.sticky {  /* does NOT work this way, needs position:absolute, somewhere*/
    position: sticky;   
    top: 30px;  
}

#main-content {
    flex: 1;
    background-color: rgb(199, 197, 188);
    color: rgb(53, 50, 50);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(53, 50, 50);
}



