
/* used for small adjustments! 
/* install extension LIVE SERVER for realtime adjust * /
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
    color: wheat;
}

html, body {
    height: 100%;
}

.container {
    background: chocolate;
    width: 80%;
    height: 80%;
    margin: auto;   
}

.box1 {
    width: 1000px;
    height: 1000px;
    background-color: cornsilk;
    position: absolute; 
}

.box2{
    width: 900px;
    height: 900px;
    background: rgb(197, 168, 51);
    position: absolute;
}

.box3 {
    width: 800px;
    height: 800px;
    background: rgb(104, 85, 9);
    position: absolute;
}


.box3 {
    top: 300px;
    left: 600px;
}


.container {
    position: relative;
}

.box2 {
    bottom: 100px;
    left: 400px
}


html, body {
    height: 200%
}

.box2{
    width: 900px;
    height: 900px;
    background: rgb(197, 168, 51);
    position: fixed;
}

.box3 {
    position: sticky; /* in this case, it sticks to the CONTAINER*/
}


