

/* do some refactoring of classes, overlapping arguments */
* {

    font-family: sans-serif;
    box-sizing: border-box;

}


section {

    margin: 5px;
    padding: 5px;
    background-color: orange;
    width: 400px;

}


div {
    margin: 30px;
    padding: 30px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

}

p {

    background-color: white;
    text-align: center;
 
}

li {

    display: inline-block;

}

ul {

    display: inline-block;

}


.scroll {
    
    overflow: scroll;

}

.visible {

    overflow:none;

}

.hidden {

    overflow: hidden;
}

.adjustWH {

    width: 100px;
    height: 25px;
}

.adjustW {
    width: 200px
}


.adjustcW {
    width: 275px
}

.green {
    background-color: green;
    width: 60px;    
}

.orange {
    background-color:orange;
    width: 60px;
   
}

.border {
    border-color: black;
    width: 60px;
    border-style: solid;
    border-radius: 5px;
}

.verticalAlign {

    vertical-align: bottom;
}