* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    color: rgb(179, 197, 201); 
}

nav {
    display:flex;     
}

#navbar {
    flex: 1;
    justify-content: center;
    justify-content: space-evenly;
    display:inline-flex;
    background-color: rgb(53, 50, 50);
    position: fixed; 
    top: 0; 
    width: 98.2vw;
    height: 4vh;
    border-color: black;
    border-style:groove;
    border-radius: 5px;
      
}

body {
    width: 98.7vw;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(6, 59, 59);  
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px; 
}


img {
     
    border: solid 3px transparent;
    border-radius: 6px;
    max-width: 80%;
    max-height: 80%;
    align-self: center;
    margin-top: 8%

    
}

img:hover, h1 {
    transform:
    perspective(75em)
    rotateX(-4deg)
    rotateY(14deg);
    
    border-radius: 6px;
    border-color:  rgb(96, 201, 201);    
    filter:  brightness(1.1) drop-shadow( 1px 1px 3px rgb(96, 201, 201));

}

h1 {
    transition: transform .44s; 
    transform: rotate(-3.5deg);
    font-weight: bold;
    font-family: rick-morty-font;
    filter:  brightness(1.1) drop-shadow( 10px 10px 20px rgb(96, 201, 201));
}

h1:hover {
    color: rgb(6, 59, 59);
}


#zoom {
    
    transition: transform .84s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    
}
  
#zoom:hover {
    transform: 
    scale(1.67)
    perspective(75em)
    rotateX(-5deg)
    rotateY(17deg); 
    border-radius: 10px;
}


 


u:hover, #submit:hover, #search-page:hover, #add-character:hover, #home-page:hover {

    color: rgb(96, 201, 201);
    font-weight: bold;
    cursor: grab;
}

#navbar:hover, #sidebar:hover {
    filter:  brightness(1.08) drop-shadow( 5px 5px 10px rgb(96, 201, 201));
}


a {
    display: flex;
    flex-direction: column;
    text-align: center;   
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


div {
    flex-direction: column;    
    text-align: center;
    

}


ul {
    list-style-type: none; 
    text-align: center;
}

li {
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;    
    background-image: linear-gradient(to left, rgb(84, 177, 177) , rgb(9, 75, 75));
    border-color:  black;
    border-style: groove;
    border-radius: 5px; 
    }


header:hover { 
    background-image: linear-gradient(to left, rgb(6, 59, 59) ,rgb(96, 201, 201));
  
}

main {
    display: flex;   
    
    }

#sidebar {  
    height: 92vh;   
    width: 4vh;
    background-color: rgb(53, 50, 50);
    border-color: black;
    border-style: groove;
    border-radius: 5px;  

}



.sticky {  /* working with internal server only*/
    position: sticky;   
    top: 4.5vh;  
}

#root {
    flex: 1;
    background-color: rgb(0, 37, 0);
    color: rgb(53, 50, 50);
    width: 98.7vw;
    border-radius: 2.5px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(53, 50, 50);
}

p {
    font-weight:lighter;  
    
}


input:invalid {
    border: 1px solid rgb(6, 59, 59);
}
  
input:invalid:required {
    background-image: linear-gradient(to left, rgb(6, 59, 59) ,rgb(96, 201, 201));
}
  
input:valid {
    border: 2px solid  rgb(84, 177, 177) ;
}

#box {
    background-color: rgb(6, 59, 59);
    margin-left: 10vw;
    margin-right: 10vw;
    border-style: solid;
    border-radius: 10px;
    align-self: center;
    max-width: 275px;
    padding: 3%;

     
}

#form {
    background-color: rgb(6, 59, 59);
    margin-left: 10vw;
    margin-right: 10vw;
    border-style: solid;
    border-radius: 10px;
    align-self: center;
    max-width: 575px;
    text-align:left;
    padding: 3%;

}

#location, #option {
    max-width: 250px;
    border-radius: 2.5px;
    font-weight:lighter;  
}


#submit, u {
    justify-content: space-around;
    background-color:  rgb(84, 177, 177);
    align-self: center;
    text-align: center;
    border-style: solid;
    border-color: rgb(53, 50, 50);
    border-radius: 10px;
    min-width: 250px;
    min-height: 50px;

}

u { 
    min-width: 170px;

    min-height: 25px;
    max-height: 50px;
    padding: 2%;
    margin:2%;
    border-width: thin;
    text-decoration: none;
}



#name {
    min-width: 250px;
    border-radius: 2.5px;
    font-weight:lighter;  

}

label {
    display: inline-block;
    font-weight: lighter;
    min-width: 80px;
}

br {
    display: block;
    margin: 6px 0;
 }

 #gridview {
    background-color: rgb(0, 37, 0);
    margin: 2%;
    padding-bottom: 2%;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    align-self: center;
    max-width: 220px;
 }






