* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    color: rgb(179, 197, 201); 
}

nav {
    display:flex; 
 
}

#navbar {
    flex: 1;
    justify-content: center;
    justify-content: space-evenly;
    display:inline-flex;
    background-color: rgb(53, 50, 50);
    position: fixed; 
    top: 0; 
    width: 98vw;
    border-color: black;
    border-style:groove;
    border-radius: 2.5px; 
     
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(6, 59, 59);
    border-color: black;
    border-style: solid;
    border-radius: 1.25px; 

}



img {
     
    border: solid 3px transparent;
    border-radius: 6px;
    
}

img:hover, h1 {
    border-radius: 6px;
    border-color:  rgb(96, 201, 201);    
    filter:  brightness(1.12) drop-shadow( 1px 1px 2px rgb(96, 201, 201));

}

h1 {
    transition: transform .44s; 
    font-weight: bold;
    font-family: rick-morty-font;
    filter:  brightness(1.12) drop-shadow( 3px 3px 5px rgb(96, 201, 201));
}

h1:hover {
    color: rgb(6, 59, 59)
}


#zoom {
    
    transition: transform .44s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 3px;
    
}
  
#zoom:hover {
    transform: scale(1.67); 
}


u:hover, #search-page:hover, #contact-page:hover, #home-page:hover {

    color: rgb(96, 201, 201);
    font-weight: bold;
    cursor: grab;
}

#navbar:hover, #sidebar:hover {
    filter:  brightness(1.12) drop-shadow( 3px 3px 5px rgb(96, 201, 201));
}


a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}


div {
    flex-direction: column;
    text-align: center;
}


ul {
    list-style-type: none; 
}

header {
    transition: transform .44s; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(to right, rgb(6, 59, 59) ,rgb(96, 201, 201));
    border-color:  black;
    border-style: groove;
    border-radius: 2.5px; 
    }


header:hover {   
    background-image: linear-gradient(to left, rgb(84, 177, 177) , rgb(9, 75, 75));
}

main {
    display: flex;   
    
    }

#sidebar {  
    height: 90vh;   
    background-color: rgb(53, 50, 50);
    border-color: black;
    border-style: groove;
    border-radius: 2.5px;  
}



.sticky {  /* working with internal server only*/
    position: sticky;   
    top: 4vh;  
}

#root {
    flex: 1;
    background-color: rgb(0, 37, 0);
    color: rgb(53, 50, 50);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(53, 50, 50);
}

p {
    font-weight: lighter;    
    
}





