    * {
    font-family:sans-serif;
    box-sizing: border-box;
    margin: 0%;
    font-size: 62.5%;
}

.container {
    margin: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly stretch;
    
    height: 100%;
    width: 100%;     
}

.stripe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
   outline: 2px solid black; 
   height: 75vh;
   width: 15vw; 
}

h1 {
        font-size: 1.0rem;
}

footer {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

button {

    background-color: black;
    color: cadetblue;
    font-size: 1.0rem;
}


