html {
    font-size: 16px; 
    /*base - pixel é valor absoluto*/
}

/* incompatível com personalizações do browser*/

/*
h2 {
    font-size: 10px;
}

p{
    font-size: 5x;
}
 */


/* em efemeral measure */

/*
div {
    font-size: 2em;

    h2 {
    font-size: 3em;
}

p{
    font-size: 1.5em;
}
} */


/* rem - m da root* ou seja
html  font-size: 16px; */

html {
    font-size: 62.5%; 
    /*base 16px * 62.5% = 10px- % permite relatividade , rem*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%; /*important responsiveness*/
    width: 100%; 

}

div {
    font-size: 1.8rem; /*18 pixeis*/
}

p {
    font-size: 1.2rem
}


body {
    background-color: rgb(46, 58, 26);
    height: 120vh; /*comparar com px */
    width: 80vw;
  
}

div {
    background-color: rgb(128, 223, 223);
    height: 30vh; /*comparar com px */
    width: 60vw;
    /* o texto em REM não estica nem encolhe*/    

    /* adicionar um paragrafo */
}

p {
    background-color: rgb(47, 161, 161);
    height: 4vh; /*comparar com px */
    width: 25vw;
    

}






