* {

    text-align: center;
    
}

body {

    margin: 10%;
    background-color: rgb(17, 18, 19);

}

h1 {

    color:rgb(205, 99, 50);
    font-family: sans-serif;

}

p {

    font-family: sans-serif;
    font-size: 120%;
    color: darkturquoise;

}

p {

    color: rgb(38, 0, 209);

}

p {

    color: rgb(112, 209, 0);

}


.title {

    color:rgb(53, 50, 205);

}

#first-paragraph {

    color:rgb(50, 205, 179);
    
}


.blog {
    background-color: rgb(207, 211, 199);

}

.post {
    margin: 10%;

}

.text {

    font-stretch: extra-expanded;

}

#special-text {

    font-stretch: extra-expanded;

}


section>p {

    font-style: italic;
}



.heranca {

    color: pink;
}

p {

    color: brown;
}


ul {

    list-style-type: none;
    color: burlywood;
    margin: auto;
    width: fit-content;
    padding-left: 0;
    background-color: rgb(22, 43, 44);


    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

}

li {
    font-size: larger;
    display: inline-block;
    width: fit-content;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: cyan;
}


ul:nth-child(3n) {
    color: rgb(139, 237, 100);

}


