* {

    font-family:sans-serif;
    box-sizing: border-box;
}

.container {

    border:grey;
    border-radius: 1px;
    border-style: solid;
    display: flex;
    /*flex-wrap: wrap;*/
    /*use flex wrap for responsiveness*/
    width: 800px;
    height:200px;
    justify-content: center;
    justify-content: space-evenly;
    /* space around, evenly*/
    align-items: center;
    
    
}

.container2 {
    display: flex;
    background-color: rgb(242, 242, 248);
    width: 400px;
    height:400px;
    flex-direction: column;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    text-align: center;
    margin: 4px;  

    
}



.box1 {
     /*   ***** ocupar espaço disp  *****   */
    flex: 1;
    background-color:rgb(116, 102, 46);

}
.box2 {
    /*   ***** alterar ordem  *****   */
    order: -1;
    background-color:rgb(46, 53, 116);  
}
.box3 {
    /*   ***** ocupar 2x espaço disp  *****   */
    flex: 1.5;

    background-color:rgb(199, 172, 63);  
}
.box4 {
/* mudar posicionamento apenas 1 caixa*/
    align-self: baseline;

    background-color:rgb(46, 116, 58);  
}
.box5 {

    background-color:rgb(116, 46, 46);  
}
.box6 {

    background-color:rgb(116, 80, 46);  
}
