:root {
    --white: #fff;
    --blue: #02afc5;
    --black: #0d0d0d;
    --rick-morty-font: 'Rick and Morty';
    --adult-swim-font: 'Adult Swim';
    --shadow: 3px 3px 3px var(--black);
}

@font-face {
    font-family: 'Rick and Morty';
    src: url('assets/fonts/rick_and_morty.ttf');
}

@font-face {
    font-family: 'Adult Swim';
    src: url('assets/fonts/adult_swim.ttf');
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--adult-swim-font);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root-container {
    height: 100%;
}

#search-bar {
    margin-bottom: 2em;
    position: sticky;
    top: 10px;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: var(--white);
}

.text-big {
    font-size: 2em;
}

.wide {
    width: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.page {
    height: 100%;
}

.page > .content {
    padding: 1em;
    margin-top: 2em;
}

.banner {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid var(--blue);
    display: flex;
    align-items: center;
    position: relative;
}

.round {
    border-radius: 100%;
}

.button {
    font-family: var(--adult-swim-font);
    border: 0;
    border-radius: 10px;
    padding: 0.5em 0.5em;
}

.button.inverted {
    background-color: var(--black);
    color: var(--white);
}

#quick-action-button {
    position: fixed;
    padding: 0;
    bottom: 10px;
    right: 10px;

    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 100%;

    border: 2px solid var(--white);
    color: var(--white);
    background: var(--blue);
}

#quick-action-button:hover,
#quick-action-button:active {
    border: 2px solid var(--blue);
    color: var(--blue);
    background: var(--white);
}

.banner > .title {
    font-family: var(--rick-morty-font);
    color: var(--white);
    font-size: 4em;
    text-align: center;
    width: 100%;
    text-shadow: var(--shadow);
}

.banner > .logo {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 100%;
    border: 5px solid var(--blue);

    transform: translate(-50%, +50%);
}

.grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.grid > .item {
    border-radius: 4px;
    background: var(--blue);
    overflow: hidden;

    margin-bottom: 2em;
}

.card {
    width: 300px;
}

.card > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card > .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.card > .footer > .content {
    font-family: var(--rick-morty-font);
    font-size: 1.5em;
    font-weight: normal;
    text-shadow: var(--shadow);
    color: var(--white);
    text-transform: uppercase;
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details {
    text-shadow: var(--shadow);
    color: var(--white);
}

.details > .detail {
    margin-bottom: 2em;
}

.detail > .title {
    display: block;
    font-size: 2em;
    margin: 0;
    margin-bottom: 0.2em;
}

.detail > .value {
    font-size: 1.2em;
    margin: 0;
    padding-left: 1em;
}

.field {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 2px solid var(--blue);
    padding: 0.5em 0.5em;
    font-family: var(--adult-swim-font);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex.column {
    flex-flow: column;
}

.flex.center {
    justify-content: center;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.card,i:hover {
    cursor: pointer;
}
